---
whiskers:
  version: 2.5.1
---
<h3 align="center">
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png" width="100" alt="Logo"/><br/>
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
	Catppuccin for <a href="https://github.com/anuraghazra/github-readme-stats">Github Readme Stats</a>
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
</h3>

<p align="center">
	<a href="https://github.com/catppuccin/github-readme-stats/stargazers"><img src="https://img.shields.io/github/stars/catppuccin/github-readme-stats?colorA=363a4f&colorB=b7bdf8&style=for-the-badge"></a>
	<a href="https://github.com/catppuccin/github-readme-stats/issues"><img src="https://img.shields.io/github/issues/catppuccin/github-readme-stats?colorA=363a4f&colorB=f5a97f&style=for-the-badge"></a>
	<a href="https://github.com/catppuccin/github-readme-stats/contributors"><img src="https://img.shields.io/github/contributors/catppuccin/github-readme-stats?colorA=363a4f&colorB=a6da95&style=for-the-badge"></a>
</p>

<p float="left">
  {%- for _, flavor in flavors %}
  {%- set p = flavor.colors %}
  <img src="https://github-readme-stats.vercel.app/api?username=sgoudham&show_icons=true&bg_color={{p.base.hex}}&text_color={{p.text.hex}}&icon_color={{p.mauve.hex}}&title_color={{p.teal.hex}}" alt="{{flavor.name}} User Preview" width=400>
  {%- endfor %}
</p>

## Previews

{%- for id, flavor in flavors %}
{%- set p = flavor.colors %}
<details>
{%- if id == "latte" %}
<summary>🌻 Latte</summary>
{%- elif id == "frappe" %}
<summary>🪴 Frappé</summary>
{%- elif id == "macchiato" %}
<summary>🌺 Macchiato</summary>
{%- else %}
<summary>🌿 Mocha</summary>
{%- endif %}
<img src="https://github-readme-stats.vercel.app/api?username=sgoudham&show_icons=true&bg_color={{p.base.hex}}&text_color={{p.text.hex}}&icon_color={{p.mauve.hex}}&title_color={{p.teal.hex}}" alt="{{flavor.name}} User Preview">
<img src="https://github-readme-stats.vercel.app/api/pin/?username=catppuccin&repo=catppuccin&bg_color={{p.base.hex}}&text_color={{p.text.hex}}&icon_color={{p.mauve.hex}}&title_color={{p.teal.hex}}" alt="{{flavor.name}} Repo Preview">
</details>
{%- endfor %}

## Usage

> [!IMPORTANT]
> Catppuccin **Latte** & **Mocha** have been upstreamed and are included as
> default themes. For example, append `?theme=catppuccin_latte` or
> `?theme=catppuccin_mocha` to use them.

Append one of the following theme strings to the end of the card URL:
{% for _, flavor in flavors %}
{%- set p = flavor.colors %}
- **{{flavor.name}}**: `&bg_color={{p.base.hex}}&text_color={{p.text.hex}}&icon_color={{p.mauve.hex}}&title_color={{p.teal.hex}}`
{%- endfor %}

## 💝 Thanks to

- [Sanjay Pavan](https://github.com/WitherCubes)
- [daylin](https://github.com/daylinmorgan)

&nbsp;

<p align="center"><img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/footers/gray0_ctp_on_line.svg?sanitize=true" /></p>
<p align="center">Copyright &copy; 2021-present <a href="https://github.com/catppuccin" target="_blank">Catppuccin Org</a>
<p align="center"><a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE"><img src="https://img.shields.io/static/v1.svg?style=for-the-badge&label=License&message=MIT&logoColor=d9e0ee&colorA=363a4f&colorB=b7bdf8"/></a></p>
